{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <a href="{{ path('app_homepage') }}">Go to homepage</a>

    <div>
        <h1>{{ blog.title }}</h1>
        <img width="400px" src={{ blog.img }} />
        <p>{{ blog.content }}</p>
    </div>


    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
