{% extends 'base.html.twig' %}

{% block title %}Details index{% endblock %}

{% block body %}
    <h1>Details index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestemp</th>
                <th>Level</th>
                <th>Client_ip</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td>{{ detail.id }}</td>
                <td>{{ detail.timestemp }}</td>
                <td>{{ detail.level }}</td>
                <td>{{ detail.clientIp }}</td>
                <td>{{ detail.message }}</td>
                <td>
                    <a href="{{ path('app_details_show', {'id': detail.id}) }}">show</a>
                    <a href="{{ path('app_details_edit', {'id': detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_details_new') }}">Create new</a>
{% endblock %}
