{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="column-25 container-log font-log">
            <h1 class="white">
                Filter
                <hr>
            </h1>
        </div>
        <div class="column-75 container-log">
            <div class="row font-log">
                <div class="column-33">
                    <h1 class="white">Message</h1>
                    <div class="row">
                        <div class="column-33">
                            {% for log in logs %}
                                <span class="white">{{ log.timestamp }}</span>
                                <span class="green">[ {{ log.level }} ]</span>
                                <span class="orange">{{ log.client_ip }}</span><br>
                                <hr>
                            {% endfor %}
                        </div>
                        <div class="column-66">
                            {% for m in msg %}
                                {% if m['type'] == "server_action" %}
                                    <span>
                                        <span class="orange">{{ m['data']['service_name'] }}</span>
                                            : 
                                            <span class="green">{{ m['data']['action'] }}</span>
                                    </span><br><hr>
                                {% endif %}

                                {% if m['type'] == "request" %}
                                    <span>
                                        <span class="green">{{ m['data']['method'] }}</span>
                                        <span class="white">{{ m['data']['page_request'] }}</span>
                                        <span class="orange">{{ m['data']['status_code'] }}</span>
                                        <span class="red">{{ m['data']['latency'] }}ms</span>
                                    </span>
                                    
                                    <br><hr>
                                {% endif %}

                                {% if m['type'] == "message" %}

                                    <span class="white">{{ m['data'] }}</span><br><hr>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
